.menu {
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      right: -100%;
      top: 0;
      opacity: 0;
      overflow: auto;
      display: grid;
      grid-template-rows: 1fr auto;
      gap: toRem(30);
      background-color: $bgGold;
      padding: toRem(100) toRem(15) toRem(15) toRem(30);
      transition: right 0.3s, opacity 0.3s;
      // z-index: 2;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        @include adaptiveValue("height", 152, 70);
        top: 0;
        right: -100%;
        opacity: 0;
        background-color: $bgGold;
        transition: right 0.3s, opacity 0.3s;
        z-index: 3;
      }
      .menu-open & {
        right: 0;
        opacity: 1;
        &::before {
          right: 0;
          opacity: 1;
        }
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: toRem(3);
    @include adaptiveValue("column-gap", 47, 15, 0, $containerWidth, 767.98);

    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: toRem(20);
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    display: inline-block;
    color: $bgGold;
    font-weight: 300;
    line-height: 1.52;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: darken($bgGold, 30%);
      }
    }

    @media (max-width: $mobile) {
      color: #fff;
      font-size: toRem(28);
    }
  }
}

//Burger Icon
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: $bgGold;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
        background-color: #fff;
      }
      &::before,
      &::after {
        background-color: #fff;
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
