//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: toRem(10) toRem(40);
  outline: toRem(1) solid transparent;
  border-radius: 50px;
  font-weight: 300;
  line-height: 156%;
  background-color: #fff;
  transition: color 0.2s;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: url("@img/bg-button.jpg") center / cover no-repeat;
    transition: opacity 0.2s;
  }
  span {
    position: relative;
    width: 100%;
    text-align: center;
  }
  @media (any-hover: hover) {
    &:hover {
      color: $mainColor;
      &::before {
        opacity: 1;
      }
    }
  }
  &_fw {
    width: 100%;
  }
  &_border {
    background-color: transparent;
    outline: toRem(1) solid $bgGold;
    color: $bgGold;
    &::before {
      opacity: 0;
    }
  }
}
